ref/
backup/
*.blend1
*.fbx
*.glb
*.spp
*.painter_lock
*.fsbak
*.mp4
*.avi
*~
*.tpc
uv.png
normal.png
BL_proxy/
*.obj
*.mtl
tmp.*
tmp/
cache_*/
.autosave
*.resources/
*.fbm/
fbx/
blendcache_*/